.container {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  font-weight: 100;
  color: #090909;
  text-align: left;
  flex: 1;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: justify;
  font-weight: bold;
  margin-left: 0.8rem;
  width: 100%;
  color: #090909
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 180px; 
  height: 30px;
  background-color: #fff2f2;
  margin-left: 2%;
  color: #293F73;
  
}

.h2{
  margin: 4px;
  font-size: 14px;
}

.small {
font-size: 14px;
text-align: end;
}

.red {
  background-color: #e9b7b7;
}

.pink {
  background-color: #eca0c6;
}

.green {
  background-color: #ccffcc;
}

.blue {
  background-color: #cce6ff;
}
